<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button default-href="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{post.client}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header>
            <img style="width: 100%" src="{{post.url}}" alt="">
            <ion-card-subtitle>Cliente :{{post.client}}</ion-card-subtitle>
            <ion-card-title>Modelo Carro: {{post.model}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p><span><b>Servicios:</b></span> {{post.service}}</p>
            <h3>Detalles y observaciones:</h3>
            <p>{{post.details}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
